In [83]:
import matplotlib.pyplot as plt
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [84]:
matches=pd.read_csv('matches.csv')
deliveries=pd.read_csv('deliveries.csv')

In [85]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,18-04-2008,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,19-04-2008,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,19-04-2008,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,20-04-2008,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,20-04-2008,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [86]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [87]:
ipl=deliveries.merge(matches,left_on="match_id",right_on="id")

In [88]:
ipl.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date',
       'match_type', 'player_of_match', 'venue', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'result', 'result_margin',
       'target_runs', 'target_overs', 'super_over', 'method', 'umpire1',
       'umpire2'],
      dtype='object')

In [89]:

# Assuming 'ipl' is your DataFrame containing IPL data

# Step 1: Identify the top 50 batters by total runs scored
top50_batters = ipl.groupby("batter")["batsman_runs"].sum().sort_values(ascending=False).head(50).index.tolist()

# Step 2: Filter the DataFrame to include only the top 50 batters
top50_data = ipl[ipl['batter'].isin(top50_batters)]

# Step 3: Calculate total runs for each batter
runs = top50_data.groupby("batter")["batsman_runs"].sum()

# Step 4: Calculate total balls faced for each batter
# Assuming 'ball_faced' is a column in the DataFrame. If not, you might need to calculate it based on the data available.
balls_faced = top50_data.groupby("batter")["batsman_runs"].count()

# Step 5: Calculate strike rate for each batter
strike_rate = (runs / balls_faced) * 100

# Display the strike rates
print(strike_rate)
sr=strike_rate.reset_index()

batter
AB de Villiers    148.580442
AC Gilchrist      133.054662
AD Russell        164.919942
AJ Finch          123.349057
AM Rahane         120.284308
AT Rayudu         124.584527
BB McCullum       126.848592
CH Gayle          142.121729
DA Miller         134.223541
DA Warner         135.600763
DR Smith          132.279534
F du Plessis      130.832542
G Gambhir         119.665153
GJ Maxwell        151.447661
HH Pandya         139.638554
Ishan Kishan      131.373657
JC Buttler        143.098091
JH Kallis         105.936272
KA Pollard        140.457703
KD Karthik        129.352806
KL Rahul          131.100629
KS Williamson     123.315759
M Vijay           118.614130
MA Agarwal        128.832839
MK Pandey         117.265745
MS Dhoni          131.487710
N Rana            131.010101
PA Patel          116.625717
Q de Kock         131.317690
R Dravid          113.347237
RA Jadeja         123.090992
RA Tripathi       135.448005
RG Sharma         127.055215
RR Pant           142.550000
RV Uthappa        126.152279
S Dhawan          123.497574
SA Yadav          140.466926
SE Marsh          130.109775
SK Raina          132.535312
SPD Smith         124.812406
SR Tendulkar      114.187867
SR Watson         134.163209
SS Iyer           121.132898
SV Samson         133.930417
Shubman Gill      130.556855
V Kohli           126.729395
V Sehwag          148.827059
WP Saha           124.466192
YK Pathan         138.046272
Yuvraj Singh      124.784776
Name: batsman_runs, dtype: float64

In [90]:
sr.head()

           batter  batsman_runs
0  AB de Villiers    148.580442
1    AC Gilchrist    133.054662
2      AD Russell    164.919942
3        AJ Finch    123.349057
4       AM Rahane    120.284308

In [91]:
out=ipl[ipl["player_dismissed"].isin(top50)]
out
nout=out["player_dismissed"].value_counts()
nout
avg=runs/nout
avg=avg.reset_index()
avg.rename(columns={'index':'batter',0:'avg'},inplace=True)
avg=avg.merge(sr,on="batter")
sr

            batter  batsman_runs
0   AB de Villiers    148.580442
1     AC Gilchrist    133.054662
2       AD Russell    164.919942
3         AJ Finch    123.349057
4        AM Rahane    120.284308
5        AT Rayudu    124.584527
6      BB McCullum    126.848592
7         CH Gayle    142.121729
8        DA Miller    134.223541
9        DA Warner    135.600763
10        DR Smith    132.279534
11    F du Plessis    130.832542
12       G Gambhir    119.665153
13      GJ Maxwell    151.447661
14       HH Pandya    139.638554
15    Ishan Kishan    131.373657
16      JC Buttler    143.098091
17       JH Kallis    105.936272
18      KA Pollard    140.457703
19      KD Karthik    129.352806
20        KL Rahul    131.100629
21   KS Williamson    123.315759
22         M Vijay    118.614130
23      MA Agarwal    128.832839
24       MK Pandey    117.265745
25        MS Dhoni    131.487710
26          N Rana    131.010101
27        PA Patel    116.625717
28       Q de Kock    131.317690
29        R Dravid    113.347237
30       RA Jadeja    123.090992
31     RA Tripathi    135.448005
32       RG Sharma    127.055215
33         RR Pant    142.550000
34      RV Uthappa    126.152279
35        S Dhawan    123.497574
36        SA Yadav    140.466926
37        SE Marsh    130.109775
38        SK Raina    132.535312
39       SPD Smith    124.812406
40    SR Tendulkar    114.187867
41       SR Watson    134.163209
42         SS Iyer    121.132898
43       SV Samson    133.930417
44    Shubman Gill    130.556855
45         V Kohli    126.729395
46        V Sehwag    148.827059
47         WP Saha    124.466192
48       YK Pathan    138.046272
49    Yuvraj Singh    124.784776

In [92]:
avg

            batter        avg  batsman_runs
0   AB de Villiers  39.853846    148.580442
1     AC Gilchrist  27.223684    133.054662
2       AD Russell  28.683544    164.919942
3         AJ Finch  24.904762    123.349057
4        AM Rahane  30.985915    120.284308
5        AT Rayudu  28.051613    124.584527
6      BB McCullum  27.711538    126.848592
7         CH Gayle  39.658730    142.121729
8        DA Miller  35.710526    134.223541
9        DA Warner  41.019231    135.600763
10        DR Smith  28.392857    132.279534
11    F du Plessis  36.901786    130.832542
12       G Gambhir  31.007353    119.665153
13      GJ Maxwell  26.407767    151.447661
14       HH Pandya  30.103896    139.638554
15    Ishan Kishan  29.417722    131.373657
16      JC Buttler  37.488372    143.098091
17       JH Kallis  28.552941    105.936272
18      KA Pollard  28.404959    140.457703
19      KD Karthik  25.811429    129.352806
20        KL Rahul  45.813187    131.100629
21   KS Williamson  36.293103    123.315759
22         M Vijay  25.930693    118.614130
23      MA Agarwal  23.053097    128.832839
24       MK Pandey  28.916667    117.265745
25        MS Dhoni  38.793893    131.487710
26          N Rana  28.505495    131.010101
27        PA Patel  22.603175    116.625717
28       Q de Kock  31.978022    131.317690
29        R Dravid  28.233766    113.347237
30       RA Jadeja  26.392157    123.090992
31     RA Tripathi  26.896104    135.448005
32       RG Sharma  29.585714    127.055215
33         RR Pant  34.768293    142.550000
34      RV Uthappa  27.522222    126.152279
35        S Dhawan  35.196809    123.497574
36        SA Yadav  31.543689    140.466926
37        SE Marsh  39.507937    130.109775
38        SK Raina  32.374269    132.535312
39       SPD Smith  34.652778    124.812406
40    SR Tendulkar  33.826087    114.187867
41       SR Watson  30.793651    134.163209
42         SS Iyer  31.235955    121.132898
43       SV Samson  29.233083    133.930417
44    Shubman Gill  37.702703    130.556855
45         V Kohli  37.297436    126.729395
46        V Sehwag  27.555556    148.827059
47         WP Saha  24.982143    124.466192
48       YK Pathan  29.290909    138.046272
49    Yuvraj Singh  24.810811    124.784776

In [98]:
trace=go.Scatter(x=avg["batter"],y=avg["batsman_runs"],mode="markers")
data=[trace]
layout=go.Layout(title="runs of top 50 batsman",xaxis={"title":"batsman"},yaxis={"title":"batsman runs"})
figure=go.Figure(data=data,layout=layout)
pyo.plot(figure)

'temp-plot.html'