In [1]:
print("hello world")

hello world

## variable
* a container to store values temporarily
## variable naming rules
* not space between word-example-> name of ❌
* no special character except _(underscore) example- name_of_country
* should not start with number or special character - ✔✅_xyz , ❌#var ❌12name

In [60]:
_xyz=20
_xyz

20

## datatype
* tells what type of data variable going to store

In [6]:
str=input("Enter you name")
age=int(input("Enter you age"))
height=float(input("you height"))

gender=bool(input("you gender Male? True or False "))
print(f"Your name is {str} and age is {age}.Your are{height} cm tall and your gender is {gender} ")

Enter you name neel
Enter you age 18
you height 144
you gender Male? True or False  True

Your name is neel and age is 18.Your are144.0 cm tall and your gender is True

In [7]:
a=3+4j

## type function
* it returns type of value

In [9]:
type(a)

complex

## Data structures in python
* List
* Tuple
* Set
* Dictionary

In [16]:
meralist=[1,2,3,4,5,"xyz",{"name":"Neel"}]
for i in meralist:
    print(i)
meralist

1
2
3
4
5
xyz
{'name': 'Neel'}

[1, 2, 3, 4, 5, 'xyz', {'name': 'Neel'}]

## list() function

In [15]:
meralist=list([10,20,304,40])
meralist

[10, 20, 304, 40]

## tuple() 
* imutable
*  allow duplicates

In [20]:
tup=tuple((10,10,20,30))

In [32]:
# slicing
tup[2:4]

(20, 30)

In [33]:
# indexing
tup[3]

30

# set{}
* unordered immutable and doesnt allow duplicates

In [41]:
s1={1,2,3,1,2}

## dictionary
* key value pairs

In [45]:
cars=[{"name":"The Da Vinci Code","ISBN":"WSDI212"},{"name":"The Notebook","ISBN":"WSDI213"},{"name":"To Kill a Mockingbird","ISBN":"WSDI212"}]

In [50]:
type(cars)

list

In [51]:
dict={"name":"The Da Vinci Code","ISBN":"WSDI212","rank":3}

In [52]:
dict

{'name': 'The Da Vinci Code', 'ISBN': 'WSDI212', 'rank': 3}

In [58]:
dict.keys()

dict_keys(['name', 'ISBN', 'rank'])

In [59]:
dict.values()

dict_values(['The Da Vinci Code', 'WSDI212', 3])

## list methods
* push
* pop

In [74]:
three_list=[[[1,2,3],[4,5,6]  ],[[3,4,4],[2,3,4] ]  ]
print(type(three_list))

<class 'list'>

In [75]:
print(list("Neel"))

['N', 'e', 'e', 'l']

In [80]:
num=[10,20,30,40,50,10,20,30,40,50]
num[]

50

In [99]:
three_list=[[[1,2],[3,4]],[[5,6],[7,8]]]
three_list[1][0][0]

5

In [102]:
second=[1,2,3,[4,5]]
second[3][0]

4

## Adding Item
* append--at last
* insert--at specific position  -->(position,element)
* extend--multiple element at last

In [131]:
l=[]
l.append(2)
l.extend([2,3,4])
l.append([0,2])
l

[2, 2, 3, 4, [0, 2]]

In [138]:
l=[10,20]
l.extend("delhi")
l

[10, 20, 'd', 'e', 'l', 'h', 'i']

In [141]:
l=[10,30,40]
l.insert(1,20)

In [148]:
# editing
li=[1,2,3,4,5]
li[0]=10
li[1:3]=[20,30,40]
li

[10, 20, 30, 40, 4, 5]

## deleting
* remove---given element gets delete (element)
* del---remove all the elemnts un list
* pop--iven element gets delete based on index(index)--> if index not provided than last element gets delete
* clear
  empty list

In [165]:
li=[1,2,3,4,5]
li
# del li
del li[-1]
# del [2:3]
li

[1, 2, 3, 4]

In [166]:
li=[1,2,3,4,5]
li
li.remove(4)
li

[1, 2, 3, 5]

In [173]:
li=[10,20,30,40,50]
li.pop(2)
li

[10, 20, 40, 50]

In [175]:
li=[1,2,3,4,5]
li.clear()
li

[]

## merging two list

In [178]:
li1=[10,20,30,40]
li2=[10,20,30,40]
li1+li2

[10, 20, 30, 40, 10, 20, 30, 40]

In [180]:
li1*2
#number of times

[10, 20, 30, 40, 10, 20, 30, 40]

In [182]:
# membership 
li=[1,2,3,4]
print(2 in li)

True

In [183]:
li2=[1,2,3,[4,5]]
print([4,5] in li2)

True

In [186]:
li1=[10,20,30,40]
li2=[10,20,30,40,[50,60]]
li3=[[[1,2],[3,4]],[[5,6],[7,8]]]
for i in li3:
    print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

## list function
* len
* min
* max
* (sorted,(listname,reverse=True)) -->temporary
* count -->return number of occurence for an element
* index-->index position of given item
* reverse -->sort array in reverse order
* sort-->permenant operation
* copy

In [202]:
l=[34,12,6,300,12]
len(l)
min(l)
max(l)
sorted(l,reverse=True)
l.count(12)
l.index(6)

2

In [205]:
print(l.reverse())
l

None

[12, 300, 6, 12, 34]

In [217]:
l=[1,2,3,4,5]
# l
# print(sorted(l,reverse=False))
# l
print(l.sort(reverse=True))
l

None

[5, 4, 3, 2, 1]

In [235]:
str="this is a string \n hello there,"
len(str)
str.upper()
str

'this is a string \n hello there,'

In [240]:
import pandas as pd
try:
    df=pd.read_csv('patient.csv')
    df.head()
except:
    print("file not found")
finally:
    print("finally part")

finally part

In [241]:
df.head()

,Sr.,Name of the patient,Age,Gender,Total billirubin,Direct billirubin,Indirect billirubin,S.G.O.T. (AST),S.G.P.T.(ALT),Alkaline phosphatase,Type of jaundice
0,1,Tanvi S.,25,F,0.55,0.20,0.50,15,14,88.0,Negative
1,2,Bhrahmagma M.,39,M,0.65,0.20,0.45,12,11,104.0,Negative
2,3,Jigar sharma,30,M,0.48,0.17,0.31,21,23,77.0,Negative
3,4,Prakashbhai B.,30,M,0.42,0.18,0.24,19,25,56.0,Negative
4,5,Vijay swami,51,F,0.33,0.12,0.21,24,41,91.0,Negative

In [248]:
x=200
num=100
try:
    res=num/x
except ZeroDivisionError:
    print("cannot divide by zero")
finally:
    print(num)

100

## String methods
* startswith()--return boolean value if it is start with provided value then True else False
* endsswith()--return boolean value if it is end with provided value then True else False
* capitalize()--convert first character of first word to upper case
* upper()---convert string to upper case
* lower()---convert   string to lower case
* isupper()---check  all characters in string is upper case
* islower()---check  all characters in string is lower case
* count--return number of times a string value occure
* strip==>remove extra white spaces
* lstrip==>remove extra white spaces from left side
* rstrip===>remove extra white spaces from right side
* split()==>convert each word of sting into list elements

In [17]:
name="Neel Vankar"
print(name.startswith("N"))
print(name.endswith("N"))
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.count("n"))
age="rhckdnc   "
print(name.find("n"))
print(name.isupper())
print(name.islower())
print(age.lstrip())
print(age.rstrip())
print(name.split())

True
False
NEEL VANKAR
neel vankar
Neel vankar
1
7
False
False
rhckdnc
rhckdnc
['Neel', 'Vankar']

In [21]:
mydict={83:20}
txt="Hello sam!"
print(txt.translate(mydict))

Hello sam!